#register {
    padding: 60px 0px;

    .register_container {
        max-width: 1140px;
        margin: auto;

        .register_content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .register_left {
                width: 48%;

                img {
                    width: 100%;
                }
            }

            .register_right {
                width: 48%;

                .right_content {
                    padding: 50px;

                    h3 {
                        font-size: 22px;
                        margin-bottom: 20px;
                        font-weight: 700;

                        span {
                            color: blue;
                        }
                    }

                    form {
                        .login_input {
                            margin-bottom: 20px;

                            input {
                                width: 100%;
                                padding: 12px 0px;
                                font-size: 18px;
                                border: none;
                                border-bottom: 1px solid #0066ff61;
                                cursor: pointer;

                                &:focus {
                                    outline: none;
                                    font-size: 18px;
                                }

                                &::-webkit-input-placeholder {
                                    font-size: 18px;
                                    background-color: transparent;

                                }
                            }
                        }

                        .role_photo {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            margin-bottom: 20px;

                            .select_role {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                label {
                                    font-size: 18px;
                                    font-weight: 600;
                                }

                                select {
                                    outline: none;
                                    padding: 4px 10px;
                                    font-size: 15px;
                                    border: 1px solid blue;

                                    
                                }
                            }

                            .form_photo_upload {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                figure {
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 50%;
                                    border: 1px solid blue;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }

                                .button_upload {
                                    width: 130px;
                                    height: 50px;
                                    position: relative;
                                    input {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }

                                    label {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 15px;
                                        font-weight: 600;
                                        overflow: hidden;
                                        cursor: pointer;
                                        background-color: blue;
                                        color: white;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }


                        button {
                            width: 100%;
                            background-color: blue;
                            padding: 8px 10px;
                            border: none;
                            color: white;
                            font-size: 20px;
                            font-weight: 500;
                            margin-bottom: 20px;
                            border-radius: 10px;
                            cursor: pointer;
                        }

                        
                    }
                    p {
                        font-size: 16px;
                        a {
                            font-weight: 600;
                            color: blue;
                        }
                    }
                }
            }
        }
    }
}