#sponsor{
    background-image: url("https://zcube.in/mecare/img/an-bg/an-bg12.png");
    padding: 80px 0px;
    .sponsor_container{
        max-width: 1140px;
        margin: auto;
        .sponsor_cards{
            display: flex;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;
            .card2{
                background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
                box-shadow: 3px 4px 15px #3FB0CEA6;
            
            }
            .sponsor_card{
                width: 24%;
                padding: 40px;
                display: grid;
                place-items: center;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }
        }
    }
}